<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <center>
    <div class="card">
      <h2 class="card-header card-info">Log in</h2>
      <div class="card-block"> 
        <center>
          <div class="field form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control col-5", placeholder: 'Email' %>
          </div>
        </center>

        <center>
          <div class="field form-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control col-5", placeholder: 'Password' %>
          </div>
        </center>

        <% if devise_mapping.rememberable? -%>
          <center>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          </center>  
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
        </div>
      </div>  
    </div>
  </center>    
<% end %>

<%= render "users/shared/links" %>
