<h2>New Category</h2> 
<%= render 'shared/errors', obj: @category %>

<%= form_for @category do |f| %> 

	<div class="form-group">
		<%= f.text_field :name, class: 'form-control col-6', placeholder: 'Name' %>
	</div>		
	
	<%= f.submit "Submit", class: 'btn btn-primary but' %>
	<%= link_to "Cancel", root_path %>
<% end %>	

