<h2>Upload Item</h2>

<%= render 'shared/errors', obj: @product %>

<div class="row">
	<div class="col-xs-12">
		<%= form_for @product, :html => {class: "form-horizontal", role: "form"} do |f| %>
			
			<div class="form-group">
				<%= f.text_field :title, class: 'form-control col-6', placeholder: 'Title', autofocus: true %>
			</div>	

			<div class="form-group">
				<%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Category'}, class: 'form-control col-6' %>
			</div>	

			<div class="form-group">
				<%= f.text_area :description, class: 'form-control col-6', placeholder: 'Description', autofocus: true %>
			</div>	

			<div class="form-group">
				<%= f.text_field :price, class: 'form-control col-6', placeholder: 'Price', autofocus: true %>
			</div>	

			<div class="form-group">
				<%= f.label :product_image %>
				<%= f.hidden_field :picture_cache %>
				<%= f.file_field :picture %> 
			</div>
			
			<%= f.submit "Upload photo", class: 'btn btn-success but' %>
			<%= link_to "Cancel", root_path, class: 'btn btn-default but' %>
		<% end %>	
	</div>
</div>	
